<div class="modal fade" id="modalPeerBenchMarkAnswer" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered peer-resector-modal-confirmation" role="document">
		<div class="modal-content" style="border-radius: 1.5rem;">
			<div class="modal-body text-align-justify">
                <div class="modal_header_text mb-4"><span>The sector selected for Peer Benchmarking has been changed.</span> <span>Do you want to clear the old data(data for previously selected sector) from the questionnaire?</span></div>
                <div class="d-flex justify-content-center">
					<button type="button" class="btn login-btn sector_modal_popup_btn" id="deletePeerBenchmarkAnswer">Yes</button>
                    <button type="button" class="btn sector_modal_cancel_btn sector_modal_popup_btn" id="updatePeerBenchmarkAnswer">No</button>
                </div>
			</div>
		</div>
	</div>
</div>