<div style='font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;'>
  <div>
    <h2><b>INSTRUCTIONS</b></h2>
  </div>
  <div>
    <div>
      <h3><b>PROCESS RELATED</b></h3>
      <div style='font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; line-height: 2rem; font-size: 1.15rem'>
        <ol>
          <li>The first step for the company is to fill in the registration form and submit it</li>
          <li>After acceptance of the registration application by CII-CESD, the questionnaire becomes active and can be accessed from the dashboard</li>
          <li>Once all the questions are attempted, the application can be submitted for review by CII-CESD. Post this, no changes to the application will be possible on the portal</li>
          <li>While the application is in review by CII-CESD, the company can view its response in read only mode</li>
          <li>After completion of review and analysis by CII-CESD, the scorecard and ESG Diagnostic Report will be available for downloaded on the Dashboard</li>
        </ol>
      </div>
    </div>
    <div>
      <h3><b>QUESTIONNAIRE RELATED</b></h3>
      <div style='font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; line-height: 2rem; font-size: 1.15rem'>
        <ol>
          <li>The questionnaire is built on the three pillars of sustainability: Environment, Social & Governance. These pillars are represented by 12 aspects that in together have 85 questions</li>
          <li>The response to these 85 questions will become the basis of performance analysis and score allocation</li>
          <li>You can navigate between these aspects from the left panel</li>
          <li>While answering a question, the option you chose will subsequently show the related sub options. The sub-options must also be attempted</li>
          <li>Please use company comment box to support your answer for the question. Try keeping the information crisp & short. Also include the reference document and page no. This information will be used by CII-CESD to verify the company's response</li>
          <li>The documents that have been used to fill in the questions in an aspect, should be attached in the aspect itself</li>
          <li>There will be data restriction in certain questions on the type of data that can be entered in the box. Please provide the data type asked in the question, i.e., percentage, number or text. Any additional information can be entered in the Company Comment box</li>
          <li>For the questions not applicable to the company's business, option 'Not applicable' should be marked Not applicable and the reasoning should be provided in the respective text box</li>
        </ol>
      </div>
    </div>
    <div>
      <h3><b>FUNCTIONALITY RELATED</b></h3>
      <div style='font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; line-height: 2rem; font-size: 1.15rem'>
        <ol>
          <li>Please attempt all questions to be able to submit the application for review. It doesn't necessarily have to be done at one go. Questions for which the response is not readily available can be attempted at a later point also</li>
          <li>Before submitting the application, you can quickly review the response in review & edit mode. This mode also allows changes to be made & saved</li>
          <li>The tool has autosave functionality, but you can also manually save your answer or any minor changes to it, if you must switch to another page in less than a minute.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
