<header>
  <table class="table-border-none">
    <tr>
      <td>
        <%= wicked_pdf_image_tag(ENV['APPLICATION_URL'] + '/mail_images/cii_logo.png', size: "170x50") %>
      </td>
      <td style="width: 800px !important; text-align: right !important;">
        <%= wicked_pdf_image_tag(ENV['APPLICATION_URL'] + '/mail_images/cesd_cii_min.png', size: "215x80") %>
      </td>
    </tr>
  </table>
  <hr>
  <p>&nbsp;</p>
</header>

