<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CII - ESG Diagnostic</title>
		<%= wicked_pdf_javascript_include_tag "pdf_jquery" %>
		<%= wicked_pdf_javascript_include_tag "pdf_assessment", "data-turbo-track": "reload" %>
		<%= wicked_pdf_stylesheet_link_tag('/pdf.css') %>
	</head>

  <body>
    <%= yield %>
	</body>
</html>
