<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CII - Report</title>
		<%#= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
		<%#= javascript_pack_tag "application", "data-turbo-track": "reload" %>

		<!-- CSS only -->
		<style>
			/*.style_image {*/
			/*	margin-left: 800px;*/
			/*}*/

			/*.grid-container {*/
			/*	display: grid;*/
			/*	grid-template-columns: auto auto;*/
			/*	gap: 10px;*/
			/*	background-color: #2196F3;*/
			/*	padding: 10px;*/
			/*}*/

			/*.grid-container > div {*/
			/*	text-align: center;*/

			/*}*/

			/*.last_page {*/
			/*	background-color:#ffffff;*/
			/*	border-bottom:1px solid #000000;*/
			/*	border-left:1px solid #000000;*/
			/*	border-right:1px solid #000000;*/
			/*	border-top:1px solid #000000;*/
			/*	vertical-align:middle;*/
			/*}*/
		</style>
	</head>

  <body>
    <%= yield %>
	</body>
</html>
